@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
body{
    background-color: #353d47;
    color: darkslategray; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;   
    line-height: 30px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 10px;

}

.wrapper{
    width: 70%;
    margin: 20px auto;
}
h1{
    display: none;
}
h2, h3{
    font-family: 'Noto Sans KR', sans-serif;
    
}

h2{
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 18px;
}
#my_info h2{
    display: none;
}
#my_info img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-right: 40px;
}
table{
    display: inline-block;
    border-collapse: collapse ;
    border-spacing: 0;
    vertical-align: top;

}
th{
    text-align: left;
    padding-right: 20px;
}

th, td{
    font-size: 15px;
}
#myname td{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;

}
a {
    color: inherit;
    text-decoration: none;

}
a:hover{
    
    color: rgb(0, 163, 141);
    text-decoration: none;

}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    margin-bottom: 4px;
}
ul li::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

/* ul li:nth-child(1)::before{
    content: url('../images/ico_mobile.png');
}

ul li:nth-child(2)::before{
    content: url('../images/ico_email.png');
}

ul li:nth-child(3)::before{
    content: url('../images/ico_facebook.png');
}

ul li:nth-child(4)::before{
    content: url('../images/ico_blog.png');
}
*/
#skills ol{
    list-style: none;
    padding:0;
}
#skills li{
    display: inline-block;
    background-color: gold;
    padding:4px 10px;
    border-radius: 32px;
    margin:0 8px 8px 0;
}
#skills li::before {
    content: "#";
}

#projects ol{
    list-style: none;
    padding: 0;
}

#projects li{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#projects li:last-child{
    border-bottom: none;

}
#projects video{
    width: 100%;
}
#projects a{
    background-color:#2f2f2f;
    display: inline-block;
    color: #ddd;
    
    border-radius: 10px;
    padding: 2px 8px;
}

#projects a:hover{
    background-color: #d3a10a;
    text-decoration: none;
    padding: 3px 9px;
    transition: padding 0.2s;
}
blockquote{
    position: relative;
    padding:3rem;
    margin-top: 1rem;
}
blockquote::before,
blockquote::after{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
}
blockquote::before{
    border-top: 5px solid rgb(237, 237, 237);
    border-left: 5px solid rgb(234, 234, 234);
    top:0;
    left:0;
}
blockquote::after{
    border-bottom: 5px solid rgb(238, 238, 238);
    border-right: 5px solid rgb(240, 240, 240);
    bottom:0;
    right:0;
}
.hello{
    font-style: italic;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 1.2px;
    font-size: 16px;
   
}
.hello1{
    font-size: 14.5px;
    font-family: 'Noto Sans KR', sans-serif;
}
ol{
    list-style: circle;
}
i{
    padding-right: 9px;
    padding-bottom: 7px;
    color: rgb(105, 113, 139);
 
}
